@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap%27');

#root{
    font-family: 'Rubik', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: inherit;
    position: relative;
    padding-bottom: 7em;
    min-height: 100vh;
}