
@font-face {
  font-family: 'Lilita One';
  src: url("../fonts/LilitaOne-Regular.ttf");
}
html, body {
background: #FCEEB5;
}

.center {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
}

.card , .card.green{
width: 750px;
height: 350px;
background-color: #fff;
background: linear-gradient(#f8f8f8, #fff);
box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
border-radius: 30px;
position: relative;

}

.card, .card.green h1 {
text-align: center;


}

.card.green .additional {
position: absolute;
width: 350px;
height: 100%;
background: linear-gradient(#614C3C, #614C3C);
transition: width 0.4s;
overflow: hidden;
z-index: 2;
border-radius: 30px;
}




.card:hover .additional {
width: 100%;
border-radius: 30px;
}

.card .additional .user-card {
width: 350px;
height: 350px;
position: relative;
float: left;
 border-radius: 30px;
}

.card .additional .user-card::after {
content: "";
display: block;
position: absolute;
top: 10%;
right: -2px;
height: 80%;
border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .points {
top: 15%;
color: #fff;
text-transform: uppercase;
font-size: 1.5em;
font-weight: bold;
background: rgba(0,0,0,0.15);
padding: 0.125rem 0.75rem;
border-radius: 100px;
white-space: nowrap;
}

.card .additional .user-card .points {
top: 85%;
}

.card .additional .user-card svg {
top: 50%;
}

.card .additional .more-info {
width: 300px;
float: left;
position: absolute;
margin-left: 400px;
height: 100%;
}

.card .additional .more-info  h1 {
color: #fff;
margin-bottom: 0;
font-family: 'Lilita One';
font-size: 40px;
}

.card.green .additional .more-info  h1 {
color: #ffffff;


}

.card .additional .coords {
margin: 0 1rem;
color: #fff;
font-size: 1rem;
}

.card.green .additional .coords {
color: #ffffff;
}

.card .additional .coords span + span {
float: right;
}

.card .additional .stats {
font-size: 2rem;
display: flex;
position: absolute;
bottom: 1rem;
left: 1rem;
right: 1rem;
top: auto;
color: #fff;
}

.card.green .additional .stats {
color: #ffffff;
}

.card .additional .stats > div {
flex: 1;
text-align: center;
}

.card .additional .stats i {
display: block;
}

.card .additional .stats div.title {
font-size: 0.75rem;
font-weight: bold;
text-transform: uppercase;
}

.card .additional .stats div.value {
font-size: 1.5rem;
font-weight: bold;
line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
font-size: 2.5rem;
}

.card .general {
width: 350px;
height: 100%;
position: absolute;
float: left;
margin-left: 367px;

}

.card .general h1{
  color: #614C3C;
  margin-bottom: 0;
  font-family: 'Lilita One';
  font-size: 40px;
}




.more {
position: absolute;
bottom: 1rem;
right: -1rem;
font-size: 0.9em;
}


.buttonpay{
width: 198px;
height: 69px;
background: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;


/* AÑADIR */


width: 109px;
height: 30px;
font-family: 'Lilita One';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 100%;
/* identical to box height, or 30px */

text-transform: uppercase;

color: #614C3C;
}

